autobahn_rce==0.6.0.5
certifi==2024.2.2
certifi==2023.5.7
logzero==1.7.0
matplotlib==3.8.0
matplotlib==3.8.4
mplfinance==0.12.10b0
numpy==1.24.2
pandas==2.2.2
pyotp==2.8.0
python_dateutil==2.8.2
pytz==2023.3.post1
pytz==2023.3
Requests==2.32.3
scipy==1.11.4
setuptools==68.2.2
setuptools==69.5.1
six==1.16.0
ta==0.11.0
Twisted==22.10.0
websocket_client==0.58.0
websocket_client==1.6.0
